.section__body{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    grid-gap: 20px;
}
@media (max-width: 767px){
    .section__body{
        grid-template-columns: 1fr;
    }
}
.section {
    border: 1px solid grey;
    max-width: 700px;
    background-color: #fff;
    margin-bottom: 10px;
  }

  .section__header {
    font-size: 30px;
    margin: 0;
  }
  .section_plus{
    padding: 20px;
    border-top:2px solid rgb(219, 224, 224);
  }

  